<div class="row">
    <div class="col-1">
        <button type="button" class="btn btn-secondary" onclick="prevMonth(###MONTH###,###YEAR###)"><<</button>
    </div>
    <div class="col">
        <h3>Einsatzplanung für ###MONTH_SELECT### ###YEAR_SELECT###</h3>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-secondary" onclick="nextMonth(###MONTH###,###YEAR###)">>></button>
    </div>
</div>
<div class="row">
    <div class="col">
        ###DAYS###
    </div>
</div>
