<li class="list-group-item ###COUNTING### nutzer_###NUTZERID### ###ITEMTYPE###_###ITEMID### ###TAETIGKEIT### ###FREIGEGEBEN###" data-nutzerid="###NUTZERID###" data-###ITEMTYPE###id="###ITEMID###">    
    <div class="card day-item ###TYP### ###ITEMTYPE###">
        <div class="card-header">
            ###CHECKBOX###
            <span style="float: right; margin-left: 55px;">###TO_PLAN###</span>
            <span style="float: right">###MATYP###&nbsp;</span>
            ###NUTZER### 
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col">
                    ###WOCHENSTUNDEN###           
                </div>
                <div class="col" style="font-size: small;">    
                    ###MAIL###
                </div>         
            </div>  
            <div class="row">
                <div class="col">
                    ###UEBERSTUNDEN###
                </div>
                <div class="col"></div>
            </div>
            <div class="row">                
                <div class="col">    
                    ###PRIVATE_TEL###
                </div>       
                <div class="col" style="font-size: small;">
                    ###PRIVATE_MAIL###           
                </div>
            </div>   
        </div>
    </div>
</li>