<div class="card month-day-card weekday-###WEEKDAY### ###ACT_MONTH###" style="width: 14%;" data-timestamp="###TIMESTAMP###">
  <div class="card-body">
    <h5 class="card-title"><a class="datelink" href="?type=dayroster&ts=###TIMESTAMP###">###DATESTRING###</a></h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <b>Wochenendschicht</b><br />
            <span class="month-daycheck" data-needed="###WS_TEAMLEITUNG_BEDARF###" data-given="###WS_TEAMLEITUNG_AKTUELL###">Teamleitung: ###WS_TEAMLEITUNG_BEDARF###/###WS_TEAMLEITUNG_AKTUELL###</span><br />
            <span class="month-daycheck" data-needed="###WS_ARZT_BEDARF###" data-given="###WS_ARZT_AKTUELL###">Ärzte: ###WS_ARZT_BEDARF###/###WS_ARZT_AKTUELL###</span><br />
            <span class="month-daycheck" data-needed="###WS_MITARBEITER_BEDARF###" data-given="###WS_MITARBEITER_AKTUELL###">Mitarbeiter: ###WS_MITARBEITER_BEDARF###/###WS_MITARBEITER_AKTUELL###</span><br />
        </li>        
    </ul>
  </div>
</div>