<div class="card month-day-card weekday-###WEEKDAY### ###ACT_MONTH###" style="width: 14%;" data-timestamp="###TIMESTAMP###">
  <div class="card-body">
    <h5 class="card-title"><a class="datelink" href="?type=dayroster&ts=###TIMESTAMP###">###DATESTRING###</a></h5>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <b>Frühschicht</b><br />
            <span class="month-daycheck" data-needed="###FS_TEAMLEITUNG_BEDARF###" data-given="###FS_TEAMLEITUNG_AKTUELL###">Teamleitung: ###FS_TEAMLEITUNG_BEDARF###/###FS_TEAMLEITUNG_AKTUELL###</span><br />
            <span class="month-daycheck" data-needed="###FS_ARZT_BEDARF###" data-given="###FS_ARZT_AKTUELL###">Ärzte: ###FS_ARZT_BEDARF###/###FS_ARZT_AKTUELL###</span><br />
            <span class="month-daycheck" data-needed="###FS_MITARBEITER_BEDARF###" data-given="###FS_MITARBEITER_AKTUELL###">Mitarbeiter: ###FS_MITARBEITER_BEDARF###/###FS_MITARBEITER_AKTUELL###</span><br />
        </li>
        <li class="list-group-item">
            <b>Spätschicht</b><br />
            <span class="month-daycheck" data-needed="###SS_TEAMLEITUNG_BEDARF###" data-given="###SS_TEAMLEITUNG_AKTUELL###">Teamleitung: ###SS_TEAMLEITUNG_BEDARF###/###SS_TEAMLEITUNG_AKTUELL###</span><br />
            <span class="month-daycheck" data-needed="###SS_ARZT_BEDARF###" data-given="###SS_ARZT_AKTUELL###">Ärzte: ###SS_ARZT_BEDARF###/###SS_ARZT_AKTUELL###</span><br />
            <span class="month-daycheck" data-needed="###SS_MITARBEITER_BEDARF###" data-given="###SS_ARZT_AKTUELL###">Mitarbeiter: ###SS_MITARBEITER_BEDARF###/###SS_MITARBEITER_AKTUELL###</span><br />
        </li>
    </ul>
  </div>
</div>