<div class="card week-day-card weekday-###WEEKDAY### ###ACT_MONTH###" style="width: 14%;" data-timestamp="###TIMESTAMP###">
  <div class="card-body">
    <h5 class="card-title"><a class="datelink" href="?type=dayroster&ts=###TIMESTAMP###">###DATESTRING###</a></h5>
    <h6>Frühschicht</h6>
    <div class="week-daycheck" data-needed="###FS_TEAMLEITUNG_BEDARF###" data-given="0">
        <span class="info">Teamleitung: ###FS_TEAMLEITUNG_BEDARF### / <span class="acount">0</span></span><br />
        <ul class="list-group list-group-flush elgroup">
            ###FS_TEAMLEITUNG_WITEMS###
            <li class="list-group-item nocount"></li>
        </ul>
    </div>
    <div class="week-daycheck" data-needed="###FS_ARZT_BEDARF###" data-given="0">
        <span class="info">Ärzte: ###FS_ARZT_BEDARF### / <span class="acount">0</span></span><br />
        <ul class="list-group list-group-flush elgroup">
            ###FS_ARZT_WITEMS###
            <li class="list-group-item nocount"></li>
        </ul>
    </div>
    <div class="week-daycheck" data-needed="###FS_MITARBEITER_BEDARF###" data-given="0">
        <span class="info">Mitarbeiter: ###FS_MITARBEITER_BEDARF### / <span class="acount">0</span></span><br />
        <ul class="list-group list-group-flush elgroup">
            ###FS_MITARBEITER_WITEMS###
            <li class="list-group-item nocount"></li>
        </ul>
    </div>
    <div class="">
        <span class="info">Beides</span><br />
        <ul class="list-group list-group-flush elgroup">
            ###FS_BEIDE_WITEMS###
            <li class="list-group-item nocount"></li>
        </ul>
    </div>
    <hr />
    <h6>Spätschicht</h6>
    <div class="week-daycheck" data-needed="###SS_TEAMLEITUNG_BEDARF###" data-given="0">
        <span class="info">Teamleitung: ###SS_TEAMLEITUNG_BEDARF### / <span class="acount">0</span></span><br />
        <ul class="list-group list-group-flush elgroup">
            ###SS_TEAMLEITUNG_WITEMS###
            <li class="list-group-item nocount"></li>
        </ul>
    </div>
    <div class="week-daycheck" data-needed="###SS_ARZT_BEDARF###" data-given="0">
        <span class="info">Ärzte: ###SS_ARZT_BEDARF### / <span class="acount">0</span></span><br />
        <ul class="list-group list-group-flush elgroup">
            ###SS_ARZT_WITEMS###
            <li class="list-group-item nocount"></li>
        </ul>
    </div>
    <div class="week-daycheck" data-needed="###SS_MITARBEITER_BEDARF###" data-given="0">
        <span class="info">Mitarbeiter: ###SS_MITARBEITER_BEDARF### / <span class="acount">0</span></span><br />
        <ul class="list-group list-group-flush elgroup">
            ###SS_MITARBEITER_WITEMS###
            <li class="list-group-item nocount"></li>
        </ul>
    </div>
    <div class="">
        <span class="info">Beides</span><br />
        <ul class="list-group list-group-flush elgroup">
            ###SS_BEIDE_WITEMS###
            <li class="list-group-item nocount"></li>
        </ul>
    </div> 
    <hr />
    <h6>Springer</h6>
    <div class="">
        <ul class="list-group list-group-flush elgroup">
            ###SP_WITEMS###
            <li class="list-group-item nocount"></li>
        </ul>
    </div>
    <hr />
    <h6>Nicht verfügbar</h6>
    <div class="">
        <ul class="list-group list-group-flush">
            ###NOT_WITEMS###            
        </ul>
    </div>
    <hr />
    <h6>Urlaub</h6>
    <div class="">
        <ul class="list-group list-group-flush">
            ###URLAUB_WITEMS###            
        </ul>
    </div>
  </div>
</div>