<tr>
    <td class="popupInfo" data-id="###LID###">###STR_NACHNAME###</td>
    <td class="popupInfo" data-id="###LID###">###STR_VORNAME###</td>
    <td class="popupInfo" data-id="###LID###">###STR_EMAIL###</td>
    <td class="popupInfo" data-id="###LID###">###LAST_MELDUNG###</td>
    <td>        
        <a href="mailto:###STR_EMAIL###?subject=Erinnerung%20an%20die%20Einsatzplanung&amp;body=Liebe%20Kollegin%2C%20%0D%0Alieber%20Kollege%2C%20%0D%0A%0D%0Aleider%20haben%20Sie%20bis%20heute%20keine%20Dienstplanw%C3%BCnsche%20f%C3%BCr%20die%20folgende%20Dienstplanperiode%20eingegeben.%20Bitte%20holen%20Sie%20dies%20unverz%C3%BCglich%20nach%2C%20damit%20Sie%20in%20die%20Dienstplanung%20mit%20aufgenommen%20werden%20k%C3%B6nnen.%20%0D%0A%0D%0AUnter%20folgendem%20%20Link%20k%C3%B6nnen%20Sie%20Ihre%20Dienstplanw%C3%BCnsche%20eingeben%3A%20%0D%0A%0D%0Ahttps%3A%2F%2Fformulare.bonn.de%3A443%2Fmetaform%2FForm-Solutions%2Fsid%2Fassistant%2F5f6857a917572835617a2099%0D%0A%0D%0A%0D%0AMit%20freundlichen%20Gr%C3%BC%C3%9Fen%2C%0D%0A%0D%0AIhr%20Planungs-Team" class="btn btn-info">Erinnerung schicken</a>
        <a href="mailto:###STR_EMAIL###" class="btn btn-warning">Account Mail</a>
        <a href="mailto:###STR_EMAILPRIVAT###" class="btn btn-secondary">Privat Mail</a>
        ###DELBUTTON###
        <div class="user_info ###LID###" title="Daten der letzten Meldung (###LAST_MELDUNG###)">
            <h5>###STR_VORNAME### ###STR_NACHNAME###</h5>
            <table style="width: 100%">
                <tr>
                    <td>Mitarbeitertyp</td>
                    <td style="text-align: right"> ###STR_MATYP###</td>
                </tr>
                <tr>
                    <td>Wochenstunden</td>
                    <td style="text-align: right">###FLT_WOCHENSTUNDEN###</td>
                </tr>
                <tr>
                    <td>Überstunden</td>
                    <td style="text-align: right">###L_UEBERSTUNDEN###</td>
                </tr>
                <tr><td>&nbsp;</td><td></td></tr>
                <tr>
                    <td>Telefon privat</td>
                    <td style="text-align: right">###STR_TELPRIVAT###</td>
                </tr>
                <tr>
                    <td>Email privat</td>
                    <td style="text-align: right">###STR_EMAILPRIVAT###</td>
                </tr>
                <tr>
                    <td>Email Account</td>
                    <td style="text-align: right"> ###STR_EMAIL###</td>
                </tr>
                <tr>
                    <td>Anmerkung</td>
                    <td style="text-align: right"> ###TXT_ANMERKUNG###</td>
                </tr>
                <tr>
                    <td>Grund kein Dienst</td>
                    <td style="text-align: right"> ###TXT_GRUNDKEINDIENST###</td>
                </tr>
            </table>
        </div>
    </td>
</tr>